@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConcreteProduct</title>
</head>
<body>
    <h2>@Model.ProductName</h2>
</body>
</html>
