<div class="container">
    <div class="row"  style="margin:5px">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About us</h4>
                    <p class="card-text">We sell different products from all over the world. We garantee you quality and fast shipping.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  style="margin:5px">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Who we work with?</h4>
                    <p class="card-text">We work with world's best companies, like Nova Poshta, Xiaomi, Tesla, Zhytomyr and many others.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  style="margin:5px">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Why would I trust you?</h4>
                    <p class="card-text">We garantee you quality work and also you can see 9876543456 rewiews from other users.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:5px">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contacts</h4>
                    <p class="card-text">+88005553535</p>
                    <p class="card-text">+384206969</p>
                    <p class="card-text">From 6 AM to 22 PM.</p>

                </div>
            </div>
        </div>
    </div>
</div>
