<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _02._11_exam</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="https://cdn.pixabay.com/photo/2015/12/23/01/14/edit-1105049_1280.png" class="rounded" style="width:40px; height:40px; margin-right:10px">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="" asp-route-category="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ListProducts" asp-route-category="">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Category" asp-action="ListCategories">Categories</a>
                </li>
            </ul>

            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">
                Register
            </a>
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                Login
            </a>
            <form class="form-inline my-2 my-lg-0" asp-controller="Account" asp-action="Logout">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Logout
                </button>
            </form>


            <a class="nav-link text-dark" asp-area="" asp-controller="ShopCart" asp-action="Index">
                <i class="fas fa-shopping-cart"></i>
            </a>
            
        </div>
    </nav>




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Kursova</p>
        </footer>
    </div>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
