<div class="col-lg-4">
    <img class="thumbnail" style="height:160px;width:320px" src="@Model.Image" />
    <p>Model: @Model.ProductName</p>
    <p>Price:  @Model.Price.ToString("C")</p>
    <p><a class="btn btn-warning" href="#">Info</a></p>
</div>