@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoriesList</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    @*<h3>@Model.ProductCategory</h3>*@
    <div class="row mt-5 mb-2">
        <ul>
            @{
                foreach (Category category in Model.GetCategories)
                {
                    if (category.Id > 1 && category.Id < 6)
                    {
                        @await Html.PartialAsync("_CategoryCard", category);

                    }
                }
            }
        </ul>
        
    </div>
</body>
</html>