@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoriesList</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <a type="button" class="btn btn-outline-dark" style="margin:5px" asp-area="" asp-controller="Products" asp-action="ProductsList" asp-route-category=""> << All Categories</a>
    <div class="container">
            @{
                foreach (Category category in Model.GetCategories)
                {
                    if (category.Id > 1 && category.Id < 6)
                    {
                        @await Html.PartialAsync("_CategoryCard", category);

                    }
                }
            }
    </div>
</body>
</html>